<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Attendant page!</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">

    </head>
    <body>
        <div class="content">
            <ul>
                   <li><a href="sales.html">Create sale</a></li>
                   <li><a href="index.html">Logout</a></li>
                    <li><a href="stock.html">Products</a></li>
                    <li><a href="attendant-sales.html">My Sales</a> </li>
            </ul>        
        </div>
        <h1 id="attend">My store Manager.</h1>
        </header><br><br><br><br><br><br><br><br>
        <footer class="main">
            <h1>Welcome to the attendants Dashboard,<br>you can add new produt,<br>create a new sale,<br>view your sales and view your profile.</h1>
        </footer>
        
    </body>
</html>