<!DOCTYPE html>
<html lang="en">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Attendant page!</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        </head>
    <body>
            <div class="content">
                <ul>
                   <li> <a href="Stock.html">stock</a></li>
                   <li> <a href="register.html">New User</a></li>
                    <li><a href="attendant.html">Attendant</a></li>
                    <li><a href="index.html">Log Out</a></li>
                </ul>

            </div>
                        <h1> Individual Sales</h1>

                    <div class="login-box">
                        <table>
                            <thead>
                                <th>Product</th>
                                <th>Quantity sold</th>
                                <th>Amount (UGX)</th>
                                <th>Date</th>
                            </thead>
                                <tbody>
                                    <tr>
                                        <td>Shoes</td>
                                        <td>20</td>
                                        <td>500,000</td>
                                        <td>2018-07-10</td>
                                    </tr>

                                    <tr>
                                        <td>Boots</td>
                                        <td>05</td>
                                        <td>150,000</td>
                                        <td>2018-09-10</td>
                                    </tr>

                                    <tr>
                                        <td>Trousers</td>
                                        <td>03</td>
                                        <td>120,000</td>
                                        <td>2018-10-10</td>
                                    </tr>

                                    <tr>
                                        <td>Suits</td>
                                        <td>03</td>
                                        <td>900,000</td>
                                        <td>2018-10-11</td>
                                    </tr>
                                </tbody>
                        </table>
                  </div> 
                <footer class="main">
                    
                        <h1><span>&copy; 2018 Store Manager. All Rights Reserved courtersy of bekeplar</span></h1>
                </footer>    
    </body>
</html> 