<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Store Manager App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css"  href="../static/style.css" />
    </head>

<body>
    <div class="content">
        <!--Navigation to different pages-->
        
                <a href="login.html">Logout</a>
                <a href="sales.html">Cart</a>
                <a href="profile.html">Profile</a>
                <a href="stock.html">Stock</a>
                <a href="register.html">New user</a>
        >
    </div>
    <h1>Add new Attendant Here</h1>
    <div class="login-box">
        <!--Form for creating a new attendant by admin-->
            
        <form action="submit" class="login-form" method="post">
            <div class="input">
                    <label for="username">Username</label>
                    <input type="text" class="form-input" placeholder="Username" id="username"  name="username">
            </div>
            <div class="input">
                    <label for="password">Password</label>
                    <input type="password" placeholder="password" id="password" name="password">
            </div>
            <div class="input">
                <label for="password">Password</label>
                <input type="confirm password" placeholder="comfirm password" id="comfirm password" name="password">
            </div>
                <div id="login">
                    <input type="submit" class="login-btn blue" value="create">
            </div>
        </form>

    </div>
</body>

</html>