<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Store-Manager | Sales Records</title>
    
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>

    <body>
        <!--Links to different pages-->
            <ul>
                <li><a href="sales.html">Cart</a></li>
                <li><a href="inventory.html">Inventory</a></li>
                <li><a href="stock.html">Stock</a></li>
               <li><a href="register.html">New user</a></li>
        
                <h1>General Sales</h1>
                <!--Table to view different sales by all attendants-->
            </ul>    
            <div class="login-box">
                    <table>
                        <thead>
                            <th>Attendant</th>
                            <th>Item</th>
                            <th>Sold Quantity</th>
                            <th>Total Sales</th>
                        </thead>
                        <tr>
                            <td>Joseph</td>
                            <td>Shoes</td>
                            <td>40 pairs</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Margret</td>
                            <td>Suits</td>
                            <td>30 pieces</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>Favor</td>
                            <td>Boots</td>
                            <td>52 pairs</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Doreen</td>
                            <td>Trousers</td>
                            <td>400 pairs</td>
                            <td>2000</td>
                        </tr>
                    </table>
            </div>
            <div><br><br>
                <footer class="main">
                        <h1>Welcome to the Admin Dashboard.</h1> 
                </footer>
            </div>
        
        
    </body>

</html>