<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>products page!</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="content">
                <a href="index.html">Home</a>
                <a href="sales.html">Sales</a>
                <a href="attendant-sales.html">Records</a>
                <a href="inventory.html">Inventory</a>           
    </div>
            <h1>Available Products</h1>
            <div class="login-box">
                <table>
                    <thead>
                        <th>Item</th>
                        <th>Available Quantity</th>
                        <th>Sell</th>
                    </thead>
                    <tr>
                        <td>Boots</td>
                        <td>200</td>
                        
                        <td><button type="submit">Add to Cart</button></td>
                    </tr>
                    <tr>
                        <td>suits</td>
                        <td>100</td>
                        
                        <td><button type="submit">Add to Cart</button></td>
                    </tr>
                    <tr>
                        <td>Trousers</td>
                        <td>800</td>
                        
                        <td><button type="submit">Add to Cart</button></td>
                    </tr>
                    <tr>
                        <td>Shoes</td>
                        <td>500</td>
                        
                        <td><button type="submit">Add to Cart</button></td>
                    </tr>
                </table>
            </div>
        <div>
            <footer>
                Faster and reliable store management.
            </footer>
        </div>
    </div>
    
</body>

</html>