/*body{
    background-image: url('img/login.jpg');
    background-size: cover;
    width: 100%;
    filter:opacity(0.5);
    filter: blur(0.3);
    text-align: center;
    
 }

 ul{
     list-style: none;
 }

 header{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    }
    
    
    h1{
        text-align: center;
        color:#fff;
        font-style: italic;
        font-weight: 900;
        text-shadow: 2px 2px  rgb(49, 32, 32);
    }

    header nav ul{
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;

    }

    header nav ul li{
        float: left;
        list-style: none;
        padding: 0, 16px;
        font-size: 24px;
        display: inline-block;
}
header nav ul li a {
    margin: 0 auto; 
    text-decoration: none;
    font-size:40px;
    letter-spacing: normal;
    display: block;
    font-weight: bold;
    color: #d9ff00

} 
 /* 
media(max-width:680px) *{
  body{
     background-image 
  }  
        
}
@media(max-width:480px){
    body{
    }     
}
*/

    

    